@use "assets/styles/_theme.scss";
@use "assets/styles/_common.scss" as common;

@mixin glassmorphism($color: white) {
    @include common.shape(
        transparentize($color, 0.4),
        1px solid transparentize($color, 0.8),
        4px
    );
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.schedule-calendar {
    @include common.size(38%, 93%);
    @include common.flex-column(flex-start, center);
    font-family: theme.$english-font;
    .text-today {
        @include common.size(80%, fit-content);
        @include common.flex-row(space-between, baseline);
        color: theme.$main-color;
        margin-bottom: -1.2%;
        .text-year {
            @include common.font(
                rgb(99, 22, 22),
                theme.$english-font,
                0.8em,
                700
            );
        }
        .text-current:hover {
            @include common.hover-event();
            color: rgb(99, 22, 22);
            transform: scale(1.03);
        }
    }
    .days {
        @include common.size(85%, fit-content);
        @include common.flex-row(flex-start, center);
        font-size: 0.5em;
        margin-bottom: 2%;
        .col {
            @include common.size(13%, 100%);
            @include common.flex-column(flex-end, center);
            margin-right: 1%;
            background: transparentize(theme.$step-color, 0.4);
            border: 1px solid transparentize(theme.$step-color, 0.6);
            border-radius: 4px;
        }
    }
    .calendar-list {
        @include common.size(90%, 90%);
        @include common.flex();
        overflow-y: scroll;
        flex-wrap: wrap;
        .calendar__item {
            @include common.size(90%, 60%);
            padding: 2%;
            padding-top: 8%;
            margin-bottom: 10%;
            .header {
                @include common.size(100%, 10%);
                text-align: center;
                font-size: 1em;
                color: theme.$main-color;
            }
            .body {
                @include common.size(100%, 89%);
                @include common.flex-column();
                .row {
                    @include common.size(100%, 100%);
                    @include common.flex-row(space-between, center);
                    .col {
                        @include common.size(15%, 100%);
                        @include common.flex-column(flex-start, center);
                        font-size: 0.5em;
                        span {
                            z-index: 10000;
                            padding-top: 5px;
                        }
                        .not-valid {
                            color: theme.$gray-color;
                        }
                        .img {
                            @include common.size(100%, 100%);
                            margin: 0% 0 0 -17%;
                            border-radius: 2px;
                        }
                        .img-undefined {
                            @include common.size(80%, 80%);
                            margin: 10% 0 0 -4%;
                            opacity: 0.2;
                        }
                        .today {
                            color: theme.$main-color;
                            font-weight: 700;
                        }
                    }
                    .col.cell.selected {
                        @include common.shape(theme.$step-color, none, 10%);
                    }
                }
            }
        }
    }
    .calendar-list::-webkit-scrollbar {
        display: none;
    }
}
.schedule-management {
    @include common.size(65%, 100%);
    @include common.flex-row(flex-start, flex-start);
    flex-wrap: wrap;
    overflow-x: scroll;
    font-family: theme.$english-font;
    section {
        padding: 1.5%;
        margin: 1%;
    }
    .desc-schedule {
        @include common.size(95%, 5%);
        @include common.flex-row(space-around, center);
        @include glassmorphism(rgb(242, 242, 242));
        .desc__item {
            @include common.size(18%, 100%);
            @include common.flex-row();
            flex-wrap: wrap;
            font-size: 0.85em;
        }
    }
    .grid.row {
        @include common.size(43%, fit-content);
        header {
            @include common.size(100%, 30px);
            @include common.flex-row(flex-start, center);
            svg {
                @include common.size(7%, fit-content);
                margin-right: 2%;
            }
        }
    }
    .grid.col {
        @include common.size(24%, 25%);
        margin-right: 4%;
        font-size: 1.2em;
        header {
            @include common.size(100%, 100%);
            @include common.flex-column();
            svg {
                @include common.size(37%, fit-content);
                margin-bottom: 5%;
            }
        }
    }
    .clicked-schedule {
        @include glassmorphism(theme.$step-color);
        header {
            color: theme.$main-color;
        }
    }
    .not-finish-schedule {
        @include glassmorphism(rgb(255, 240, 240));
        header {
            @include common.size(100%, 10%);
            color: firebrick;
            .tab-pets {
                @include common.size(60%, 100%);
                @include common.flex-row(flex-end, center);
                button {
                    @include common.size(fit-content, 10%);
                    @include glassmorphism();
                    padding: 4px 10px;
                    margin-left: 2%;
                    &:hover {
                        cursor: pointer;
                        background: whitesmoke;
                    }
                }
            }
        }
        main {
            .missed__item {
                @include common.size(40%, 80%);
                @include common.flex-column();
                @include glassmorphism(rgb(255, 194, 194));
                font-size: 0.9em;
                padding: 1%;
                margin: 3% 1% 1% 1%;

                p {
                    text-align: center;
                    line-height: 1.4em;
                    span {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
    .new-schedule {
        @include glassmorphism(lavender);
        color: rgb(86, 66, 86);
    }
    .upcoming-schedule {
        @include glassmorphism(rgb(228, 255, 184));
        color: rgb(17, 96, 17);
    }
    .search-schedule {
        @include glassmorphism(rgb(250, 243, 225));
        color: rgb(255, 200, 60);
    }
}
.schedule-management::-webkit-scrollbar {
    display: none;
}
