@use "assets/styles/_theme.scss";
@use "assets/styles/_common.scss" as common;

.read-container {
    @include common.size(100%, 95%);
    @include common.flex-row();
    //@include common.shape(rgba(255, 224, 215, 0.24), none, 4px);
    .row_calender_01 {
        @include common.size(53%, 100%);
        @include common.flex-column(center, flex-start);
        .text-description {
            @include common.font(
                theme.$dark-gray-color,
                theme.$description-font,
                0.8em,
                500
            );
            margin-top: -0.5%;
        }
    }
    .row_diary-card_02 {
        @include common.size(40%, 85%);
        @include common.flex-column(flex-start, flex-start);
        .row_text_01 {
            @include common.size(fit-content, fit-content);
            margin-left: 5%;
            font-family: theme.$description-font;
        }
        .row_diarys_02 {
            @include common.size(100%, 90%);
            @include common.flex-row(center, flex-start);
            margin-top: -5%;
            flex-wrap: wrap;
        }
    }
}
.write-container {
    @include common.size(100%, 100%);
    display: flex;
    flex-direction: column;
    .write-main {
        @include common.size(90%, 84%);
        @include common.flex-row(center, flex-start);
        padding-left: 5%;
        padding-top: 2%;
        .row_picture_01 {
            @include common.size(46%, 105%);
        }
        .row_nav_02 {
            @include common.size(3%, 100%);
            margin: 0 1.5% 0 1.5%;
        }
        .row_journal_03 {
            @include common.size(48%, 85%);
            @include common.shape(
                transparentize(whitesmoke, 0.7),
                0.7px solid gray,
                0
            );
            display: flex;
            flex-direction: column;
            .col_dateweather_01 {
                @include common.size(100%, 12%);
                @include common.flex-row(flex-start, center);
                border-bottom: 0.6px solid black;
            }
            .col_title_02 {
                @include common.size(100%, 12%);
                @include common.flex-row(flex-start, center);
                border-bottom: 0.6px solid black;
                .text-title {
                    width: 10%;
                    margin-left: 1%;
                    text-align: center;
                }
                .input-title {
                    @include common.size(85%, 90%);
                    @include common.shape();
                    font-size: 1.1em;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-size: 0.85em;
                        color: gray;
                    }
                }
            }
            .col_content_03 {
                @include common.size(100%, 76%);
                padding-top: 0.5%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
            }
        }
    }
    //footer
    .write-footer {
        @include common.size(93%, 8%);
        @include common.flex-row(flex-end, center);
        margin-top: -4%;
        .row_pets_01 {
            @include common.flex-column(center, flex-end);
            width: 80%;
            margin: 0 3% 0 0;
            .label-title {
                margin-bottom: 0.5%;
                color: theme.$dark-gray-color;
                font-size: 0.75em;
            }
            .pet-list {
                @include common.flex-row(flex-end, center);
                @include common.font(
                    theme.$dark-step-color,
                    theme.$description-font,
                    0.9em,
                    500
                );
                width: 100%;
                label {
                    display: flex;
                    justify-content: center;
                    margin-left: 1.5%;
                    .input-checkbox {
                        display: none;
                    }
                    .custom-checkbox {
                        @include common.size(16px, 16px);
                        display: inline-block;
                        margin-right: 4px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .input-checkbox:checked ~ .custom-checkbox {
                        color: theme.$main-color;
                    }
                    .input-checkbox:checked ~ .custom-label {
                        @include common.font(
                            theme.$main-color,
                            theme.$description-font,
                            1.1em,
                            600
                        );
                    }
                }
            }
        }
        .row_btn_02 {
            @include common.size(100px, 35px);
            @include common.shape(
                transparent,
                2px solid transparentize(theme.$main-color, 0.7),
                0
            );
            @include common.shadow(4px, theme.$main-color, 0.7);
            &:hover {
                @include common.hover-event();
                @include common.shadow(2px, theme.$main-color, 0.2);
                border: 2.5px solid theme.$main-color;
                font-weight: 600;
            }
        }
    }
}

@mixin glassmorphism() {
    @include common.shape(
        rgba(255, 255, 255, 0),
        1px solid rgba(255, 255, 255, 0.227),
        20px
    );
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.feed-container {
    @include common.size(100%, 100%);
    .feed-main {
        @include common.size(100%, 90%);
        @include common.flex-row();
        .row_profile_01 {
            @include common.size(23%, 80%);
            @include common.flex();
            .div-frame {
                @include common.size(70%, 75%);
                @include common.flex-column(flex-start, center);
                border-radius: 10px;
                margin-top: -10%;
                border: 1px solid lightgray;
                img {
                    @include common.size(100%, fit-content);
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    z-index: -100;
                }
                .div-info {
                    @include common.size(60%, 15%);
                    @include common.flex-column(flex-start, center);
                    //@include common.shape(whitesmoke, none, 20px);
                    @include glassmorphism();
                    z-index: 10000;
                    margin-top: -12%;
                    box-shadow: 5px 5px 10px -4px #b2b2b2;
                    font-family: theme.$english-font;
                    .text-name {
                        font-size: 1.2em;
                        font-weight: 800;
                        margin-top: 5%;
                    }
                    .div-details {
                        @include common.size(100%, 100%);
                        @include common.flex-row();
                        margin-top: -19%;
                        div {
                            width: 1px;
                            height: 25%;
                            background: black;
                            margin-right: 4%;
                        }
                        p {
                            font-size: 0.85em;
                            margin-right: 2%;
                            padding-right: 2%;
                        }
                    }
                }
                .diary-info {
                    @include common.size(80%, 100%);
                    @include common.flex-row();
                    .diary__item {
                        @include common.flex-column();
                        @include common.size(40%, 78%);
                        font-size: 0.85em;
                        font-family: theme.$english-font;
                        color: rgba(0, 0, 0, 0.59);
                        span {
                            margin-top: 0;
                            margin-bottom: 14%;
                            font-size: 0.9em;
                        }

                        svg {
                            @include common.size(30%, fit-content);
                            margin-bottom: 10%;
                        }
                    }
                }
            }
        }
        .row_diarys_02 {
            @include common.size(70%, 100%);
            @include common.flex-column(flex-start, center);
            .tab-container {
                @include common.size(100%, 8%);
                @include common.flex-row();
                .btn-tab {
                    @include common.size(fit-content, 50%);
                    @include common.shape(none, none, 5px);
                    @include common.flex-row();
                    margin-left: 1%;
                    padding: 12px;
                    color: transparentize(theme.$main-color, 0.5);
                    font-family: theme.$description-font;
                    svg {
                        @include common.size(25px, 20 px);
                        margin-right: 8%;
                    }
                    &:hover {
                        @include common.hover-event();
                    }
                }
                .btn-tab:hover,
                .btn-tab.selected {
                    background: rgba(230, 230, 230, 0.61);
                    font-weight: 800;
                    color: theme.$main-color;
                }
            }
            .diarys-list {
                @include common.size(90%, 85%);
                @include common.flex-row(flex-start, flex-start);
                flex-wrap: wrap;
                overflow: auto;
                .figure-img {
                    @include common.size(31%, 48%);
                    margin: 0.5%;
                    .img-origin {
                        @include common.size(100%, 100%);
                    }
                    .text-title {
                        @include common.size(96%, 96%);
                        @include common.flex();
                        padding: 2%;
                        background: whitesmoke;
                    }
                    &:hover {
                        @include common.hover-event();
                        transform: scale(1.05);
                    }
                }
            }
            .texts-list {
                @include common.size(80%, 85%);
                @include common.flex-column(flex-start, center);
                .texts__item {
                    @include common.size(86%, 8%);
                    @include common.flex-row(space-between, center);
                    margin: 0.1%;
                    padding: 0 0 0.5% 2%;
                    border-radius: 4px;
                    .text-title {
                        font-weight: 800;
                        font-size: 1.1em;
                    }
                    .text-date {
                        @include common.size(13%, fit-content);
                        @include common.flex-row(flex-start, center);
                        font-size: 0.75em;
                        svg {
                            margin-right: 3%;
                            color: theme.$sub-color;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        background: transparentize(theme.$gray-color, 0.8);
                    }
                }
            }
        }
    }
}
