@use 'assets/styles/_common.scss' as common;
@use 'assets/styles/_theme.scss' as theme;

.home-container {
    @include common.size(100%, 100%);
    display: flex;
    flex-direction: column;
    background: theme.$dashboard-color;
    .main-container {
        @include common.size(100%, 90%);
    }
}
