@use "assets/styles/_theme.scss" as theme;
@use "assets/styles/_common.scss" as common;

@mixin glassmorphism($opacity: 0.5) {
    @include common.shape(
        rgba(255, 255, 255, $opacity),
        1px solid rgba(255, 255, 255, 0.37),
        4px
    );
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.petInfo-btn-next {
    @include common.size(120px, 35px);
    @include common.shape(
        transparent,
        2.5px solid transparentize(theme.$sub-color, 0.2),
        0
    );
    @include common.shadow(4px, theme.$sub-color, 0.5);
    margin-left: 10px;
    color: theme.$dark-gray-color;
    &:hover {
        @include common.hover-event();
        @include common.shadow(3px, theme.$main-color, 0.2);
        border: 2px solid theme.$main-color;
        transform: scale(1.01);
        color: theme.$main-color;
        font-weight: 900;
    }
}
.card-container {
    @include common.size(22%, 70%);
    @include common.shape(
        transparentize(theme.$dashboard-color, 0.5),
        1.5px solid rgba(177, 177, 177, 0.1),
        20px
    );
    @include common.flex-column();
    margin: 2%;
    box-shadow: 6px 12px 16px 0 rgba(0, 0, 0, 0.164),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.103);
    opacity: 0.65;
    &:hover {
        @include common.hover-event();
        transform: scale(1.05);
        border: 2px solid rgba(240, 240, 240, 0.2);
        box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.164),
            -5px -5px 10px 0 rgba(255, 255, 255, 0.103);
        opacity: 1;
    }
    img {
        @include common.size(100%, 90%);
        border-radius: 4px;
        transform: scale(0.85);
    }
    p {
        @include common.size(100%, 20%);
        @include common.flex();
        margin-top: -10%;
        font-size: 1.2em;
        letter-spacing: 0.2em;
    }
}
.detail-container {
    @include common.size(85%, 88%);
    @include common.flex-column();
    position: fixed;
    transition: 150ms ease-in-out;
    z-index: 500;
    margin-top: -1%;
    .detail-eclipse {
        @include common.size(40px, 40px);
        @include common.shape(rgba(128, 128, 128, 0.165), none, 50%);
        @include common.flex();
        margin-bottom: 1%;
        &:hover {
            @include common.hover-event();
            transform: scale(1.02);
            background: theme.$gray-color;
            color: black;
        }
    }
    .detail-frame {
        @include common.size(100%, 90%);
        @include common.flex-row();
        @include glassmorphism();
        .row_div_01.info {
            @include common.size(25%, 78%);
            @include common.flex-column(space-around, flex-start);
            @include glassmorphism(0.26);
            margin-left: 2%;
            .main__item {
                @include common.size(100%, 17%);
                @include common.flex-column(flex-start, flex-start);
                padding-left: 5%;
                padding-top: 3%;
                label {
                    color: theme.$dark-gray-color;
                    font-size: 0.7em;
                }
            }
            .main__item.name {
                .input-name {
                    @include common.size(fit-content, 60%);
                    @include common.shape();
                    @include common.font(
                        black,
                        theme.$description-font,
                        1.1em,
                        500
                    );
                }
                .input-name.update {
                    @include common.size(70%, 25px);
                    @include common.shape(
                        rgba(255, 255, 255, 0.25),
                        1px solid rgba(255, 255, 255, 0.37),
                        4px
                    );
                    margin-top: 2%;
                    padding: 4px;
                    font-size: 0.85em;
                    font-weight: 700;
                    &:focus {
                        outline: none;
                        box-shadow: 0 2px 5px rgba(135, 135, 135, 0.1);
                        backdrop-filter: blur(15px);
                        -webkit-backdrop-filter: blur(15px);
                    }
                }
            }
            .main__item.gender {
                .gender-container {
                    @include common.size(100%, 60%);
                    @include common.flex-row(flex-start, center);
                    font-size: 1.1em;
                    .text-gender {
                        @include common.shape(
                            transparent,
                            1px solid theme.$gray-color,
                            4px
                        );
                        padding: 7px;
                        text-align: center;
                        font-size: 0.8em;
                        font-weight: 700;
                    }
                    .text-gender.update {
                        @include common.shape(
                            rgba(255, 255, 255, 0.2),
                            1px solid rgba(255, 255, 255, 0.3),
                            4px
                        );
                    }
                    .icon-gender {
                        @include common.size(15px, 15px);
                        @include common.shape(
                            transparentize(theme.$step-color, 0.7),
                            transparent,
                            50px
                        );
                        padding: 2px;
                        margin-left: 2%;
                        font-size: 0.8em;
                        color: gray;
                        &:hover {
                            @include common.hover-event();
                            @include glassmorphism(0.26);
                        }
                    }
                }
            }
            .main__item.date {
                .date-container {
                    @include common.size(fit-content, 60%);
                    @include common.flex-row(flex-start, center);
                    margin-top: 1.5%;
                    border-right: none;
                }
            }
            .main__item.breeds {
                .breed-container {
                    @include common.size(90%, 100%);
                    @include common.flex-row(flex-start, center);
                    margin-top: 1.2%;
                    .breed-list {
                        @include common.size(100%, 100%);
                        @include common.flex-row(flex-start, flex-start);
                        flex-wrap: wrap;
                        .item__breed {
                            @include glassmorphism(0.26);
                            padding: 6px;
                            margin: 0 2% 2% 0;
                            font-size: 0.8em;
                        }
                        .item__breed.update {
                            @include common.flex-row();
                            @include common.shape(
                                rgba(255, 255, 255, 0.25),
                                1px solid rgba(255, 255, 255, 0.37),
                                4px
                            );
                            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                            backdrop-filter: blur(5px);
                            -webkit-backdrop-filter: blur(5px);
                            button {
                                @include common.size(fit-content, 100%);
                                @include common.shape();
                                @include common.flex();
                                &:hover {
                                    @include common.hover-event();
                                    color: firebrick;
                                }
                            }
                        }
                    }
                    .breed-btn {
                        @include common.shape(
                            transparentize(theme.$dark-gray-color, 0.8),
                            transparent,
                            4px
                        );
                        width: 17%;
                        padding: 6px;
                        margin-left: 0;
                        &:hover {
                            @include common.hover-event();
                            background-color: lightgray;
                        }
                    }
                }
            }
            .delete-container {
                @include common.size(90%, fit-content);
                @include common.flex-row(space-between, flex-end);
                font-size: 0.7em;
                padding: 2% 5%;
                color: gray;
                margin-bottom: 0.5%;
                &:hover {
                    @include common.hover-event();
                    text-decoration: 1.5px underline black;
                    color: black;
                }
            }
        }
        .row_img_02 {
            @include common.size(33%, 100%);
            @include common.flex-column();
            .img-picture {
                @include common.size(70%, fit-content);
                @include common.shape(none, none, 50%);
            }
            .btn-container {
                @include common.size(100%, 5%);
                @include common.flex-row();
                margin-top: 2%;
                button {
                    @include common.shape(
                        rgba(255, 255, 255, 0.25),
                        1px solid rgba(255, 255, 255, 0.37),
                        4px
                    );
                    padding: 4px 10px;
                    margin-right: 1%;
                    &:hover {
                        @include common.hover-event();
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        backdrop-filter: blur(15px);
                        -webkit-backdrop-filter: blur(15px);
                    }
                }
            }
            .btn-update {
                @include common.shape();
                padding: 4px 10px;
                &:hover {
                    @include common.hover-event();
                    background: theme.$sub-color;
                }
            }
        }
        .row_div_03 {
            @include common.size(30%, 86%);
            @include common.flex-column(space-between, center);
            .col_shower_01,
            .col_grooming_02 {
                @include common.size(90%, 30%);
                @include common.flex-column(flex-start, center);
                @include glassmorphism();
                padding: 4%;
                margin-bottom: 2%;
                font-size: 0.9em;
                .div-info {
                    @include common.size(100%, 80%);
                    @include common.flex-row();
                    .div-container {
                        @include common.size(100%, 50%);
                        @include common.flex-column();
                        label {
                            font-size: 0.75em;
                            margin-bottom: 2%;
                        }
                        .div-input {
                            @include common.size(100%, 100%);
                            @include common.flex-row(center, flex-end);
                            input {
                                @include common.size(20%, 79%);
                                @include common.shape(
                                    none,
                                    0.5px solid rgba(150, 150, 150, 0.9),
                                    2px
                                );
                                margin-right: 3%;
                                text-align: center;
                                font-family: theme.$english-font;
                                font-size: 1em;
                                &:focus {
                                    outline: none;
                                    @include glassmorphism();
                                }
                            }
                        }
                    }
                }
                .btn-enter {
                    @include common.size(20%, 25%);
                    @include glassmorphism();
                    margin-top: -5%;
                    &:hover {
                        @include common.hover-event();
                        background: rgba(235, 235, 235, 0.8);
                        border: 0.8px solid rgba(207, 207, 207, 0.7);
                        transform: scale(1.02);
                    }
                }
            }
            .col_health_03 {
                height: 15%;
            }
            .col_health_03.modal {
                width: 50%;
                height: 70%;
            }
            .div-empty {
                @include common.size(100%, 100%);
                @include common.flex-column();
                .btn-register {
                    @include common.size(40%, 30%);
                    @include glassmorphism();
                    margin-top: 4%;
                }
                .btn-register.health {
                    @include common.size(40%, 58%);
                }
                .btn-register.active:hover {
                    @include common.hover-event();
                    background: rgba(235, 235, 235, 0.8);
                    border: 0.8px solid rgba(207, 207, 207, 0.7);
                    transform: scale(1.02);
                }
            }
            .div-empty::before {
                content: "";
                background-size: 220px;
                background-repeat: no-repeat;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                opacity: 0.2;
                z-index: -100;
            }
            .div-empty.shower::before {
                background-image: url("../../../assets/images/Character/shower.png");
                background-position: 130%;
            }
            .div-empty.grooming::before {
                background-image: url("../../../assets/images/Character/grooming.png");
                background-position: -30%;
            }
            .modal-container {
                @include common.size(100%, 100%);
                @include common.flex-column(flex-start, center);
                header {
                    @include common.size(100%, fit-content);
                    @include common.flex-row();
                    button {
                        @include glassmorphism();
                        padding: 4px 10px;
                        margin-right: 1%;
                        margin-bottom: 2%;
                        &:hover {
                            @include common.hover-event();
                            transform: scale(1.02);
                        }
                    }
                    .tab-pill.selected,
                    .tab-pill:hover {
                        background: linear-gradient(
                            rgb(198, 198, 0),
                            lightcoral
                        );
                    }
                }
                .pill-list {
                    @include common.size(100%, 90%);
                    @include common.flex-row();
                    flex-wrap: wrap;
                    overflow: auto;
                    background: linear-gradient(lightcoral, rgb(198, 198, 0));
                    border-radius: 2px;
                    .pill__item {
                        @include common.size(28%, 50%);
                        @include glassmorphism();
                        margin: 2%;
                    }
                    .pill__item.info {
                        @include common.flex-column();
                        font-size: 0.8em;

                        span {
                            font-size: 4.2em;
                        }
                        .text-pill-name {
                            margin-top: -3%;
                            font-size: 1.4em;
                        }
                        .text-pill-desc {
                            margin-top: -6%;
                        }
                    }
                    .pill__item.info.alarm {
                    }
                    .pill__item.btn {
                        span {
                            font-size: 4em;
                        }
                        &:hover {
                            @include common.hover-event();
                            transform: scale(1.04);
                        }
                    }
                    .pill__item.add-info {
                        @include common.size(50%, 65%);
                        @include common.flex-column();
                        input {
                            @include common.size(88%, 15%);
                            @include glassmorphism();
                            margin-bottom: 2%;
                            padding-left: 2%;
                            &:focus {
                                outline: none;
                            }
                        }
                        .input-checkbox {
                            @include common.size(100%, 15%);
                            @include common.flex-row();
                            font-size: 0.75em;
                            margin-bottom: -2%;
                            input[type="checkbox"] {
                                @include common.size(5%, fit-content);
                            }
                        }
                        .pill__alarm {
                            @include common.size(100%, 20%);
                            @include common.flex-row();
                            input {
                                @include common.size(25%, 60%);
                                margin-right: 2%;
                                text-align: center;
                            }
                        }
                        .btn-container {
                            @include common.size(100%, 15%);
                            @include common.flex-row();
                            margin-top: 1%;
                            button {
                                @include glassmorphism();
                                padding: 4px 10px;
                                margin-right: 2%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.breeds-modal-container {
    @include common.position-fixed(20%, 40%);
    @include common.size(400px, 280px);
    @include common.flex-column();
    .breed-modal-eclipse {
        @include common.size(100%, 17%);
        @include glassmorphism();
        @include common.flex-row(space-between, center);
        p {
            margin-left: 5%;
            font-size: 0.9em;
        }
        .icon-close {
            margin-right: 5%;
            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
    .breed-modal-frame {
        @include common.size(100%, 85%);
        @include common.flex-column();
        @include glassmorphism();
        .col_search-bar_01 {
            @include common.size(100%, 30%);
            @include common.flex-row();
            .input-search {
                @include common.size(75%, 55%);
                @include glassmorphism();
                border-radius: 20px;
                padding-left: 4%;
                &:focus {
                    outline: none;
                    border: 2px solid black;
                }
                &::placeholder {
                    color: black;
                }
            }
            svg {
                @include common.size(fit-content, 40%);
                margin-left: 1.5%;
                color: rgb(241, 241, 241);
            }
            .input-search:focus + svg {
                @include common.hover-event();
                color: black;
            }
        }
        .col_result_02 {
            @include common.size(88%, 60%);
            @include common.flex-column(flex-start, flex-start);
            .text-result {
                font-size: 0.7em;
                margin-bottom: 1%;
            }
            .breeds-list {
                @include common.size(100%, fit-content);
                @include common.flex-row(flex-start, flex-start);
                flex-wrap: wrap;
                overflow: auto;
                opacity: 0.7;
                .breed__item {
                    @include glassmorphism();
                    padding: 6px;
                    margin: 1%;
                    font-size: 0.9em;
                    &:hover {
                        cursor: pointer;
                        background: rgba(128, 128, 128, 0.431);
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}
