@font-face {
    font-family: 'Pretendard Black';
    font-weight: 900;
    font-display: swap;
    src: url('assets/fonts/Pretendard/Pretendard-Black.woff') format('woff'),
        url('assets/fonts/Pretendard/Pretendard-Black.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard Extrabold';
    font-weight: 800;
    font-display: swap;
    src: url('assets/fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('assets/fonts/Pretendard/Pretendard-ExtraBold.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard Bold';
    font-weight: 700;
    font-display: swap;
    src: url('assets/fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
        url('assets/fonts/Pretendard/Pretendard-Bold.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard SemiBold';
    font-weight: 600;
    font-display: swap;
    src: url('assets/fonts/Pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('assets/fonts/Pretendard/Pretendard-SemiBold.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard Medium';
    font-weight: 500;
    font-display: swap;
    src: url('assets/fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
        url('assets/fonts/Pretendard/Pretendard-Medium.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard Regular';
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
        url('assets/fonts/Pretendard/Pretendard-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard Light';
    font-weight: 300;
    font-display: swap;
    src: url('assets/fonts/Pretendard/Pretendard-Light.woff') format('woff'),
        url('assets/fonts/Pretendard/Pretendard-Light.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard ExtraLight';
    font-weight: 200;
    font-display: swap;
    src: url('assets/fonts/Pretendard/Pretendard-ExtraLight.woff')
            format('woff'),
        url('assets/fonts/Pretendard/Pretendard-ExtraLight.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'),
        url('assets/fonts/Pretendard/Pretendard-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Strawberry Muffins';
    src: url('assets/fonts/Strawberry\ Muffins\ Demo.ttf');
}
@import url(//font.elice.io/EliceDigitalBaeum.css);

body {
    margin: 0;
    font-family: Pretendard, Strawberry Muffins, 'Elice Digital Baeum',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    width: 100%;
    height: 100%;

    position: fixed;
    overflow: hidden;
}
